.show-menu{
    bottom: var(--header-height);
}

.active-link{
    color: var(--title-color);
}

.nav__toggle{
    font-size: 1.2rem;
    cursor: pointer;
}

.nav__item{
    text-align: center;
}

.nav__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);
}

.nav__link:hover{
    color: var(--title-color);
}

.nav__icon{
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
}